<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>Weather Today</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header class="title">
    <h1>Weather <span>Report<span></h1>
  </header>

  <div class="container">
    <%= yield %>
  </div>

  <footer>
    <p>made by Matt Warnock</p>
    <p>Weather icons designed by: <a href="http://www.freepik.com">Titusurya / Freepik</a></p>
    <p>Globe vector by: <a href="http://icons8.com"</a>Icons8</p>
  </footer>
</body>
</html>
